<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kim.spe.mybatis.dao.EmployeeMapper">
<!--  -->
	<cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"></cache>
  <select id="getEmpById" resultType="kim.spe.mybatis.bean.Employee">
    select * from tbl_employee where id = #{id}
  </select>
  
  <select id="getEmpByLastNameLikeReturnMap" resultType="kim.spe.mybatis.bean.Employee">
    select * from tbl_employee where last_name like #{last_name}
  </select>
  
  <select id="getEmpByIdReturnMap" resultType="map">
    select * from tbl_employee where id=#{id}
  </select>
  
  <select id="getEmpsByLastNameLike" resultType="kim.spe.mybatis.bean.Employee">
    select * from tbl_employee where last_name like #{last_name}
  </select>
  
  <select id="getEmpByLastNameAndGen" resultType="kim.spe.mybatis.bean.Employee" parameterType="kim.spe.mybatis.bean.Employee">
    select * from tbl_employee where last_name = #{last_name} and gender = #{gender};
  </select>
  
  <insert id="addEmp" parameterType="kim.spe.mybatis.bean.Employee" useGeneratedKeys="true" keyProperty="id" >
  	insert into tbl_employee(last_name,email,gender) values(#{last_name},#{email},#{gender});
  </insert>
  
  <update id="updateEmp">
  	update tbl_employee set last_name=#{last_name},email=#{email},gender=#{gender} where id=#{id};
  </update>
  
  <delete id="deleteEmpById">
  	delete from tbl_employee where id=#{id};
  </delete>
  
</mapper>